In [1]:
print('hi')

hi

In [ ]:
if 5 > 2:
    print("Five is greater than two!")
    print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [4]:
x = """
this is a random string
that spans multiple lines
"""
print(x)

this is a random string
that spans multiple lines

In [5]:
x = 5 
y = "John"
print(x)
print(y)

5
John

In [7]:
x = str(3)
y = int(3)
z = float(3)
a = complex(3)
print(x)
print(y)
print(z)
print(a)

3
3
3.0
(3+0j)

In [10]:
a = 10e3
a

10000.0

In [11]:
10**3

1000

In [13]:
3e3

3000.0

In [29]:
import random

x= 100
# for i in range(x):
#     print(random.randrange(1, 10)) 
    # print the histogram of the random numbers
    # print(random.randrange(1, 10) * '*')

In [30]:
x = "banana"

for i in x:
    print(i)

b
a
n
a
n
a

In [31]:
a = "Hello, World!"
print(len(a))

13

In [32]:
txt = "Hello to my tutorial on Python"
print("tutorial" in txt)

True

In [33]:
if "tutorial" in txt:
    print("Yes, 'tutorial' is present.")

Yes, 'tutorial' is present.

In [34]:
print("ass" not in txt)

True

In [35]:
print(a[2:5])

llo

In [37]:
print(a[:6])

Hello,

In [38]:
print(a[2:])

llo, World!

In [51]:
a = "Hello, World!"

print(a[-15:-1])

Hello, World

In [53]:
print(a.upper())

HELLO, WORLD!

In [54]:
print(a.lower())

hello, world!

In [55]:
print(" Hello, World! ".strip())

Hello, World!

In [56]:
print(a.replace("o", "a"))

Hella, Warld!

In [57]:
print(a.split(","))

['Hello', ' World!']

In [59]:
a= "Hello"
b = "World!"
c = a+' '+b
c

'Hello World!'

In [62]:
age = 26

txt = f"Hello my name is oussamma, I am {age} y.o"

print(txt)

Hello my name is oussamma, I am 26 y.o

In [64]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [65]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [69]:
txt = "We are the so-called \"Vikings\" from the north." 
txt

'We are the so-called "Vikings" from the north.'

In [78]:
t = "hello \ooo wrld"
print(t)

hello \ooo wrld

In [ ]:
print()