In [1]:
print('hi')

hi

In [ ]:
if 5 > 2:
    print("Five is greater than two!")
    print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [4]:
x = """
this is a random string
that spans multiple lines
"""
print(x)

this is a random string
that spans multiple lines

In [5]:
x = 5 
y = "John"
print(x)
print(y)

5
John

In [7]:
x = str(3)
y = int(3)
z = float(3)
a = complex(3)
print(x)
print(y)
print(z)
print(a)

3
3
3.0
(3+0j)

In [10]:
a = 10e3
a

10000.0

In [11]:
10**3

1000

In [13]:
3e3

3000.0

In [29]:
import random

x= 100
# for i in range(x):
#     print(random.randrange(1, 10)) 
    # print the histogram of the random numbers
    # print(random.randrange(1, 10) * '*')

In [30]:
x = "banana"

for i in x:
    print(i)

b
a
n
a
n
a

In [31]:
a = "Hello, World!"
print(len(a))

13

In [32]:
txt = "Hello to my tutorial on Python"
print("tutorial" in txt)

True

In [33]:
if "tutorial" in txt:
    print("Yes, 'tutorial' is present.")

Yes, 'tutorial' is present.

In [34]:
print("ass" not in txt)

True

In [35]:
print(a[2:5])

llo

In [37]:
print(a[:6])

Hello,

In [38]:
print(a[2:])

llo, World!

In [51]:
a = "Hello, World!"

print(a[-15:-1])

Hello, World

In [53]:
print(a.upper())

HELLO, WORLD!

In [54]:
print(a.lower())

hello, world!

In [55]:
print(" Hello, World! ".strip())

Hello, World!

In [56]:
print(a.replace("o", "a"))

Hella, Warld!

In [57]:
print(a.split(","))

['Hello', ' World!']

In [59]:
a= "Hello"
b = "World!"
c = a+' '+b
c

'Hello World!'

In [62]:
age = 26

txt = f"Hello my name is oussamma, I am {age} y.o"

print(txt)

Hello my name is oussamma, I am 26 y.o

In [64]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [65]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [69]:
txt = "We are the so-called \"Vikings\" from the north." 
txt

'We are the so-called "Vikings" from the north.'

In [78]:
t = "hello \ooo wrld"
print(t)

hello \ooo wrld

In [1]:
print(10 > 5)
print(10 < 5)
print(10 == 5)

True
False
False

In [2]:
a = 100 
b = 33 
if b > a:
    print('b is greater than a')
else:
    print('a is greater than b')

a is greater than b

In [3]:
print(bool('Hello'))
print(bool(14))

True
True

In [4]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [5]:
bool(0)

False

In [7]:
bool([])

False

In [8]:
# The following will return False:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [ ]:
# One more value, or object in this case, evaluates to False, and that is if you have an object that is made from a class with a __len__ function that returns 0 or False: 
class myClass():
    def __len__(self):
        return 0
    
myObj = myClass()

print(bool(myObj))

False

In [10]:
# Python also has many built-in functions that return a boolean value, like the isinstance() function, which can be used to determine if an object is of a certain data type:
x = 200
print(isinstance(x, int))

True

In [ ]:
myObj2 = myClass()

# myObj is myObj

True

In [13]:
fruits = ["apple", "banana", "cherry"]  
banana = "banana"
print(banana in fruits)

True

In [14]:
'''
There are four collection data types in the Python programming language:

    List is a collection which is ordered and changeable. Allows duplicate members.
    Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
    Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
    Dictionary is a collection which is ordered** and changeable. No duplicate members.

'''

'\nThere are four collection data types in the Python programming language:\n\n    List is a collection which is ordered and changeable. Allows duplicate members.\n    Tuple is a collection which is ordered and unchangeable. Allows duplicate members.\n    Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.\n    Dictionary is a collection which is ordered** and changeable. No duplicate members.\n\n'

In [15]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [16]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [17]:
# Return the third, fourth, and fifth item:
# Note: The search will start at index 2 (included) and end at index 5 (not included).

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [19]:
# This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [21]:
print(thislist[-1:-4])
# This will return an empty list because the search will start at index -1 (included) and end at index -4 (not included).
# this means that the search will start at the end of the list and end at the end of the list, which is basically searching for nothing.

[]

In [22]:
# Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [23]:
"""Insert Items

To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index:
Example

Insert "watermelon" as the third item:"""

thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']