# Set

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

In [11]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [12]:
# Duplicate not allowed: Duplicate values will be ignored
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [13]:
# The values 1 and True are considered the same value in a set, and are treated as duplicates
thisset = {1, True, 1}
print(thisset)

{1}

In [14]:
# The values 0 and False are considered the same value in a set, and are treated as duplicates
thisset = {0, False, 0}
print(thisset)

{0}

In [15]:
# length of a set
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

In [16]:
# Type and constructor
thisset = {"apple", "banana", "cherry"}
print(type(thisset))

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

<class 'set'>
{'apple', 'cherry', 'banana'}

In [19]:
# Access Items
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

apple
cherry
banana

In [20]:
# Check if "banana" is present in the set
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

True

In [21]:
# Add Items
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")

print(thisset)

{'apple', 'cherry', 'banana', 'orange'}

In [22]:
# Add multiple items to a set, using the update() method
thisset = {"apple","banana","cherry"}
tropical = {"pineapple","mango","papaya"}
thisset.update(tropical)
print(thisset)

{'cherry', 'banana', 'pineapple', 'apple', 'papaya', 'mango'}

In [23]:
# Any iterable object can be added to a set
thisset = {"apple","banana","cherry"}
mylist = ["kiwi","orange"]
thisset.update(mylist)
print(thisset)

{'cherry', 'banana', 'apple', 'kiwi', 'orange'}

In [28]:
# Remove Item
thisset = {"apple","banana","cherry"}
thisset.remove("kiwi") # If the item to remove does not exist, remove() will raise an error
print(thisset)

KeyError: 'kiwi'

In [29]:
# set discard() method
thisset = {"apple","banana","cherry"}
thisset.discard("kiwi") # If the item to remove does not exist, discard() will NOT raise an error
print(thisset)

{'apple', 'cherry', 'banana'}

In [36]:
# set pop() method
thisset = {"apple","banana","cherry"}
x = thisset.pop() # Sets are unordered, so when using the pop() method, you will not know which item that gets removed.
print(x)
print(thisset)

apple
{'cherry', 'banana'}

In [38]:
# set clear() method
thisset = {"apple","banana","cherry"}
thisset.clear()
print(thisset)

set()

In [40]:
# set del() method
thisset = {"apple","banana","cherry"}
del thisset
# print(thisset) # This will raise an error because the set no longer exists

# Join Sets

There are several ways to join two or more sets in Python.

The union() and update() methods joins all items from both sets.

The intersection() method keeps ONLY the duplicates.

The difference() method keeps the items from the first set that are not in the other set(s).

The symmetric_difference() method keeps all items EXCEPT the duplicates.

In [41]:
# set union() method
set1 = {"a","b","c"}
set2 = {1,2,3}
set3 = set1.union(set2)
print(set3)

{'b', 1, 2, 3, 'a', 'c'}

In [42]:
# we can use also the | operator
set3 = set1 | set2
print(set3)

{'b', 1, 2, 3, 'a', 'c'}

In [44]:
# join multiple sets
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'John', 'cherry', 'apple', 'c', 'b', 'a', 'bananas', 'Elena'}

In [45]:
# using | operator
myset = set1 | set2 | set3 | set4
print(myset)

{1, 2, 3, 'John', 'cherry', 'apple', 'c', 'b', 'a', 'bananas', 'Elena'}

In [46]:
# join set and a tuple and a list
set1 = {"a", "b", "c"}
mytuple = ("d", "e", "f")
mylist = ["g", "h", "i"]
set1.update(mytuple, mylist)
print(set1)

{'h', 'i', 'e', 'd', 'g', 'c', 'f', 'b', 'a'}

In [47]:
# we can't use | operator to join set and a tuple and a list

myset = set1 | mytuple | mylist
print(myset)

TypeError: unsupported operand type(s) for |: 'set' and 'tuple'

In [48]:
# update() method
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

{'b', 1, 2, 3, 'a', 'c'}

In [49]:
# set intersection() method
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [50]:
# we can use also the & operator
set3 = set1 & set2
print(set3)

{'apple'}

In [51]:
# using intersection_update() method : The intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.intersection_update(set2)
print(set1)

{'apple'}

In [52]:
# set difference() method
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.difference(set2)
print(set3)

{'cherry', 'banana'}

In [53]:
# we can use also the - operator
set3 = set1 - set2
print(set3)

{'cherry', 'banana'}

In [54]:
# using difference_update() method : The difference_update() method will remove the items that exist in both sets.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.difference_update(set2)
print(set1)

{'cherry', 'banana'}

In [55]:
# set symmetric_difference() method
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.symmetric_difference(set2)
print(set3)

{'cherry', 'banana', 'google', 'microsoft'}

In [57]:
# we can use also the ^ operator
set3 = set1 ^ set2 #it only allows you to join sets with sets, and not sets with lists or tuples(other iterable objects)
print(set3)

{'cherry', 'banana', 'google', 'microsoft'}